@keyframes slideInFromLeft
{
	0%
	{
		background:#99CCFF;
		border-color: #99CCFF;
	}
	100%
	{
	    	background:#FFCCCC;
		border-color: #FFCCCC;
	}
}
.account-form 
{
	width: 150px; 
	border: 4px double #FFCCCC; 
	padding: 1em 1em 2em; 
	text-align:center; 
	position: relative; 
	right: 1em; 
	top: -5em; 
	background:#FFCCCC; 
	transition-duration: 1s; 
	transition-delay: 2s; 
	animation: 1s ease slideInFromLeft;
}
.account-form:hover 
{
	border: 4px double #8B0000; 
	border-radius: 0em 0em 0em 2em;
	padding: 1em 1em 2em; 
	text-align:center; 
	position: relative; 
	right: 1em; top: 0em; 
	background:#DEB887; 
	transition: .3s;
}


input:checked +span 
{

	position: absolute;
	display:block;

	opacity: 0.7;
	margin: 7px;
	margin-left: -2px;
	padding-bottom: 350px;
	padding-right: 200px;
	padding-left: 200px;
	background: darkgray;
}
.checkbox {
 width:20px; height:20px;vertical-align:middle;
}

.for-submit 
{

	padding-top: 1.2em;
	padding-bottom: 0em;
}
.info 
{
	padding-top: 0.0em;
	margin-bottom: -2.4em;
}
.logo-name 
{
	text-align:center; 
	position: absolute; 
	margin-top: 5em;
}
.logo-out-form 
{


padding-left: 4em; text-align:left; position: absolute; left: 0em; top: 0em; right: 0em; background:#FFCCCC; height: 3em; z-index: 2;animation: 1s ease slideInFromLeft;
}
.content 
{

 	display: flex;
	flex-flow: column wrap;
  	align-items: center;
  	justify-content: center;
}
.flexContainer 
{

  	display: flex;
	flex-flow: row nowrap;
  	align-items: flex-start;
  	justify-content: center;
}

.logoCompany
{
width:200px;
margin-left: 38px;
margin-right: 38px;

  	display: flex;
	flex-flow: row nowrap;
  	align-items: flex-start;
  	justify-content: flex-end;
}

.accountExit
{
padding-right: 40px;
width:200px;
  	display: flex;
	flex-flow: row nowrap;
  	align-items: flex-start;
  	justify-content: flex-start;
}




.buttonShowAll 
{
	position: relative; 
	margin-left: 4em; 
	margin-bottom: 5em; 
	clear: left;
}
footer 
{
	padding-right: 1em;
padding-left: 1em;
	text-align:right; 
	position: fixed; 
	left: 0em; 
	bottom: 0em; 
	right: 0em; 
	background:#D3D3D3; 
	height: 3em;
}
.tables 
{
	width: 4em;
}
.tables2 
{
	width: 8em;
}
.DivVisual 
{
	font-size: 20px;
	width: 400px;
	background: darkgray;
	color: white;
	padding: 10px;
	border-radius: 20px;
	margin-top: 10px; margin-right: 10px;
	overflow-x:hidden;
	border: 4px double black; 
	box-shadow: 0 0 20px rgba(0,0,0,1);
}
.buttonHolder
{ 
	text-align: center; 
}
.text 
{
	max-width: 395px; 
	min-width: 290px;
}
.numberSize 
{
	font-size: 30px;
	text-align: center;
	width: 50px;
}
.pagination 
{
	display: flex;
	flex-flow: row wrap;
  	align-items: center;
  	justify-content: flex-start;
	position: relative; 
	padding-left: 1em; clear: left;
}

.paginationPhp 
{ /* Основной стиль пагинации натроен в Model.php метод Pagination*/
	float: left; 
	margin: 1em; 
	width: 30px; 
	height: 30px; 
	padding-right: 1px; 
	text-align: center; 
	line-height: 29px;  
	border-radius: 3px; 
	border: 1px solid darkgray; 
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.paginationPhp:hover 
{
	background: darkgray; 
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.a_paginationPhp 
{
	text-decoration: none; 
	font-size: 1.2em; 
	font-weight: bold; 
	display: block;
}
.standart-table 
{
		min-width: 500px;
	max-width: 900px;
 	display: flex;
	flex-flow: row wrap;
  	align-items: center;
  	justify-content: flex-start;
	position: relative; 

}
.admin-table 
{
	min-width: 500px;
	max-width: 900px;
 	display: flex;
	flex-flow: row wrap;
  	align-items: flex-start;
  	justify-content: center;
	position: relative; 
}
@media (max-width: 1428px){

.admin-table 
{
justify-content: center;
}


.pagination
{
	justify-content: center;

}

}

@media (max-width: 1428px)
{
	.logoCompany
	{
		margin-right: -70px;
		justify-content: flex-start;
	}
	.accountExit
	{
		margin-right: -70px;
		justify-content: flex-end;
	}
}
.category_name_color 
{
	color: #003399;
}
.goods_name_color 
{ /*меняет стиль ссылки*/
	color: auto;
	/*color: #003399;*/
}
.group_linie 
{
	padding-bottom: 0em;
	display: flex;
	flex-flow: row nowrap;
  	align-items: flex-start;
  	justify-content: flex-start;
	width: 440px;
	top: 0em;
	box-shadow: 0 0 5px rgba(139,0,0,1);
	height: 1px;
	border: 0;
	background-color: #FFE9CC;
	clear: left;
}
